#card-space {
    width: auto;
    height:200px;
    text-align: center; 
    
}

#card-front {
    margin: auto;
    width: 300px;
    height: 200px;
    border:3px solid #ABB7B7;
    border-radius: 5px;
    background-color: yellow;
    z-index: 0;
   
}
/* #card-back {
    margin: auto;
    width: 300px;
    height: 200px;
    border:3px solid #ABB7B7;
    border-radius: 5px;
    background-color: green;
    z-index: 1;
} */

section>div {
    width: 300px;
    height: 200px;
}


/* .hidden {
    visibility: hidden;
} */

#answers-area {
    display: flex;
    width: auto;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
   
}

#answers-area.answer {
    border:thin solid black;
    font-size: 90px;

}