#card-space {
    width: auto;
    height:400px;
    
}

#card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: 400px;
    margin: auto;
    border:3px solid #ABB7B7;
    border-radius: 4px;
    background-color: #FCFCFD;
    font-size: 24px;
    z-index: 0;
}

#answers-area {
    display: flex;
    width: auto;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
   
}

button {
  align-items: center;
  width: 600px;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 14px;
}


button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#next-button {
    display: flex;
    margin: 65%;
    margin-top: 20px;
    width: 120px;
    background-color: #2531DB;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#6B6D8F 0 -3px 0 inset;
    color: white;
     
}

.fixed {
    position: fixed;
    bottom: 60px;
    right: 10px;
    width: 300px;
    height: 24px;
    background-color: #FCFCFD;
    border:3px solid #ABB7B7;
    border-radius: 5px;
    text-align: center;
}


/* /// testing card stacking effect /// */

html {
  --offset-before: 16px;
  --offset-after: 32px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  position: relative;
  cursor: pointer;
  width: 600px;
  height: 400px;
  background-color: #FCFCFD;
  border:3px solid #ABB7B7;
  border-radius: 4px;
  margin: 60px auto;
}
 
.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 
.card::before,
.card::after,
.card .card-inner {
  background-color: #FCFCFD;
  width: 600px;
  height: 400px;
  border:3px solid #ABB7B7;
  border-radius: 4px;
  transition: transform 0.3s;
}
 
.card::before,
.card-inner {
  z-index: 1;
}
 
.card-inner {
  position: relative;
  padding: 3rem;
}

.card-top-right::before {
  transform: translate(var(--offset-before), calc(-1 * var(--offset-before)));
}

.card-top-right::after {
  transform: translate(var(--offset-after), calc(-1 * var(--offset-after)));
}

.card-top-right:hover::before,
.card-top-right:hover::after,
.card-top-right:hover .card-inner {
  transform: translate(var(--offset-before), 2);
}

#card-write {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 24px;
}