body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(240, 240, 240, 1);
    background-image:
        linear-gradient(rgba(2, 1, 1, 0.346),
            rgba(0, 0, 0, 0.401)),
        url(/css/img/wood1.jpg);
}


nav {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 4px;
}

nav a {
    padding: 20px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
nav a:hover {
    background-color: rgba(240, 240, 240, .3);
}


h1 {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 1px;
    border-radius: 4px;
    background-color: rgba(220, 220, 220, 1);
    text-align: center;
    color:aliceblue;
}